{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="text-center">Lista de Usuarios</h1>
    <a href="{% url 'usuario:crearusuario' %}" class="btn btn-primary">Nuevo Usuario</a>
</div>

<table class="table">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Nombre de Usuario</th>
            <th>Usuario de Sistema</th>
            <th>Contrasenha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="table-light">
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id_usuario }}</td>
            <td>{{ usuario.nombre_usuario }}</td>
            <td>{{ usuario.usuario_sistema }}</td>
            <td>{{ usuario.contrasenha }}</td>
            <td>
                <!-- <a href="#">Detail</a> | | -->
                <a href="{% url 'usuario:actualizarusuario' usuario.id_usuario %}" class="btn btn-secondary">Editar</a>
                <a href="{% url 'usuario:eliminarusuario' usuario.id_usuario %}" class="btn btn-danger"
                    onclick="return confirm('¿Estás seguro de que quieres eliminar el usuario \'{{ usuario.nombre_usuario }}\'?')">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay usuarios.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- <div class="d-flex justify-content-center">
    <a href="{% url 'usuario:crearusuario' %}" class="btn btn-primary">Nuevo Usuario</a>
</div> -->
{% endblock %}