{% extends 'base.html' %}

{% block content %}
<h1>Lista de Proyectos</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Proyecto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proyecto in proyectos %}
        <tr>
            <td>{{ proyecto.id_proyecto }}</td>
            <td>{{ proyecto.nombre_proyecto }}</td>
            <td>
                <!-- <a href="#">Detail</a> | | -->
                <a href="{% url 'proyecto:actualizarproyecto' proyecto.id_proyecto %}" class="btn btn-secondary">Editar</a>
                <a href="{% url 'proyecto:eliminarproyecto' proyecto.id_proyecto %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar el proyecto \'{{ proyecto.nombre_proyecto }}\'?')">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay proyectos.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'proyecto:crearproyecto' %}" class="btn btn-primary">Nuevo Proyecto</a>
<!-- Botón 'Lista de Roles', solo aparece si existen proyectos -->
{% if proyectos %}
<div class="float-right">
    <a href="{% url 'rol:listaroles' %}" class="btn btn-info float-right">Lista de Roles</a>
</div>
{% endif %}
<!-- Botón 'ista de Proyectos - Usuarios', solo aparece si existen roles -->
{% if roles %}
<div class="float-right">
    <a href="{% url 'proyectousuario:listaproyectousuarios' %}" class="btn btn-info float-right">Lista de Proyectos - Usuarios</a>
</div>
{% endif %}
{% endblock %}