{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="kanban-column">
            <h2 class="kanban-column-header">To Do</h2>
            {% for user_story in to_do %}
            <div class="kanban-card">{{ user_story.id_userstory }} - {{ user_story.nombre }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="kanban-column">
            <h2 class="kanban-column-header">Doing</h2>
            {% for user_story in doing %}
            <div class="kanban-card">{{ user_story.id_userstory }} - {{ user_story.nombre }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="kanban-column">
            <h2 class="kanban-column-header">Done</h2>
            {% for user_story in done %}
            <div class="kanban-card">{{ user_story.id_userstory }} - {{ user_story.nombre }}</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}